# Scrape Data From Wikipedia

In [ ]:
import pandas as pd
!pip install lxml

In [126]:
#from IPython.display import IFrame
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
#IFrame(url, width=800, height=350)

In [150]:
data, = pd.read_html(url, match="Postcode",header = 0)
data.rename(columns = {'Postcode':'PostalCode'}, inplace = True)
data.head()

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [151]:
data = data[data["Borough"] != "Not assigned"]
data.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [153]:
borough_func = lambda s: s.iloc[0]
neighborhood_func = lambda s: ", ".join(s)
agg_funcs = {"Borough": borough_func, "Neighbourhood": neighborhood_func}
data_temp = data.groupby(by="PostalCode").aggregate(agg_funcs)
data_temp.head()

                Borough                           Neighbourhood
PostalCode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [154]:
data = data_temp.reset_index()[data.columns]
data.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [155]:
data[data["Neighbourhood"] == "Not assigned"]

   PostalCode       Borough Neighbourhood
93        M9A  Queen's Park  Not assigned

In [156]:
for (j, row) in data.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        borough = row["Borough"]
        print("Replace and test \"Not assigned\" => %s in row %i" % (borough, j))
        row["Neighbourhood"] = borough

Replace and test "Not assigned" => Queen's Park in row 93

In [157]:
data.shape
data.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

# Load Geospatial Data

In [105]:
!pip install geopy 
!pip install folium
!pip install geocoder

Requirement already satisfied: geopy in d:\anaconda\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in d:\anaconda\lib\site-packages (from geopy) (1.50)
Collecting folium
  Downloading https://files.pythonhosted.org/packages/fd/a0/ccb3094026649cda4acd55bf2c3822bb8c277eb11446d13d384e5be35257/folium-0.10.1-py2.py3-none-any.whl (91kB)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from folium) (2.21.0)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/81/6d/31c83485189a2521a75b4130f1fee5364f772a0375f81afff619004e5237/branca-0.4.0-py3-none-any.whl
Requirement already satisfied: jinja2>=2.9 in d:\anaconda\lib\site-packages (from folium) (2.10)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from folium) (1.15.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in d:\anaconda\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->folium) (2018.11.29)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2>=2.9->folium) (1.1.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.0 folium-0.10.1
Requirement already satisfied: geocoder in d:\anaconda\lib\site-packages (1.38.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: future in d:\anaconda\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: ratelim in d:\anaconda\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in d:\anaconda\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->geocoder) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ratelim->geocoder) (4.3.0)

In [106]:
locations = pd.read_csv("https://cocl.us/Geospatial_data")
locations.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [158]:
locations.columns = ["PostalCode", "Latitude", "Longitude"]
data2 = pd.merge(data, locations, on="PostalCode")
data2.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476